<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal noselect cursor-pointer" routerLink="/">Test Application</h5>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>