<ng-container *ngIf="transactions$ | async as transactions">
    <div class="card-deck text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="card-title pricing-card-title mb-0">Welcome</h5>
            </div>
            <div class="card-body">
                <p>With supporting text below as a natural lead-in to additional content.</p>
                <h2 class="card-title text-center">{{ transactions.counts | sum:'count' }}</h2>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/navigator']"d>See All Transactions</button>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="col-md-6 col-lg-3 p-0" *ngFor="let item of transactions.counts">
            <div class="card shadow-sm mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ item.label }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{ item.count }}</h2>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/navigator']" [queryParams]="{ tab: item.tab }">See All</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>