<ng-container *ngIf="transactions$ | async as transactions">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab: '0' }" routerLinkActive="active">Income</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab: '1' }" routerLinkActive="active">Outcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab: '2' }" routerLinkActive="active">Loans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{ tab: '3' }" routerLinkActive="active">Investments</a>
        </li>
    </ul>

    <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Account</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions.data">
            <td>{{ transaction.name.first }} {{ transaction.name.last }}</td>
            <td>{{ transaction.amount }}</td>
          </tr>
        </tbody>
      </table>
</ng-container>